<%= form_for( [@post, @post.comments.build] ) do |form| %>

    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name, class: "form-control" %>
    </p>
    
    <p>
        <%= form.label :body %><br>
        <%= form.text_area :body, class: "form-control" %>
    </p>
    
    <p>
        <%= form.submit 'Save Post', class: "btn btn-primary btn-md btn-block" %>
    </p>

<% end %>