<h1>
    <%= @post.title %>
</h1>

<p>
    Enviado <%= time_ago_in_words(@post.created_at) %>
    <% if user_signed_in?%>
        <%= link_to 'Editar', edit_post_path(@post) %>
        <%= link_to 'Eliminar', post_path(@post), method: :delete, data: { confirm: 'Estás seguro de eliminar esto?'} %>
    <% end %>
</p>

<p>
    <%= @post.body %>
</p>

<div>
    <h2> <%= @post.comments.count %> Comments</h2>
    <%= render @post.comments %>

    <h3> Unete a la discusión </h3>
    <%= render "comments/form" %>
</div>