<!DOCTYPE html>
<html>
  <head>
    <title>Tumblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Raleway:400, 700"%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"> Tumblr </a>

        <ul class="navbar-nav mr-auto">

          <li>
            <a class="mr-3"> <%= link_to 'Realizar enunciado', new_post_path %> </a>
          </li>
          
          <li>
            <a class="mr-3"> <%= link_to 'Publicaciones', root_path %> </a> 
          </li>

          <li>
            <a class="mr-3"> <%= link_to 'Acerca de mí', about_path %> </a> 
          </li>
         
        </ul>
        
        <% if !user_signed_in?%>
          <div class="float-right">
            <a class="navbar-brand ml-3"> <%= link_to 'User Login', new_user_session_path%> </a>
          </div>
        <% end %>
 
        <% if user_signed_in?%>
          <div class="float-right">
            <a class="navbar-brand ml-3">
              <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete%>
            </a>
          </div>
        <% end %>
      <nav>
    </header>
    
     <div class="container mt-5">
        <div class="row">
          <div class="col-sm-12 col-sm-6 col-sm-4 col-sm-offset-3"> 
            <% if current_page?(root_path)%>
              <div> <h1> Tablero de enunciados </h1> </div>
              <hr>
            <% elsif  current_page?(about_path)%>
              <div class="float-left ml-3"> <h2> My site </h2> </div><br> <br>
              <div class="float-left ml-3"> <%= link_to 'Regresar', root_path%></div>
            <% else %>
              <%= link_to 'Regresar', root_path%>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="container mt-3">
        <div class="row">
          <div class="col-sm-12 col-sm-6 col-sm-4 col-sm-offset-3">  
            <% flash.each do |name, msg| %>
              <%= content_tag(:div, msg, class: 'alert') %>
            <% end %>

            <%= yield %>
          </div>
        </div>
      </div>
  </body>
</html>
