<!DOCTYPE html>
<html>
  <head>
    <title>Tumblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Raleway:400, 700"%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand"> Tumblr </a>

        <ul class="navbar-nav mr-auto">
          <li>
            <a class="mr-3" href="#"> <%= link_to 'Post', root_path %> </a> 
          </li>
          <li>
            <a class="ml-3" href="#">About</a>
          </li>
          <li>
            <a class="ml-3" href="#">User Login</a>
          </li>
        </ul>

        <ul class="navbar-nav">
          <a class="navbar-brand"> Post feed </a>
          <div>
            <button class="btn btn-primary btn-sm"> <%= link_to 'Make Post', new_post_path %> </button>
            <button class="btn btn-primary btn-sm"> Logout </button>
          </div>
        </ul>


      <nav>
      <!-- <%= image_tag 'ok.png' %> -->   
    </header>

      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: 'alert') %>
      <% end %>

      <%= yield %>
  </body>
</html>
