<!DOCTYPE html>
<html>
  <head>
    <title>Tumblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Raleway:400, 700"%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"> Tumblr </a>

        <ul class="navbar-nav mr-auto">

          <li>
            <a class="mr-3"> <%= link_to 'Make post', new_post_path %> </a>
          </li>
          
          <li>
            <a class="mr-3"> <%= link_to 'Post', root_path %> </a> 
          </li>

          <li>
            <a class="mr-3"> <%= link_to 'About', about_path %> </a> 
          </li>
         
        </ul>
        
        <div class="float-right">
          <a class="navbar-brand ml-3"> Log in </a>
          <a class="navbar-brand ml-3" href="#" role="button">Logout</a>
        </div>
      <nav>
    </header>
    
     <div class="container mt-5">
        <div class="row">
          <div class="col-sm-12 col-sm-6 col-sm-4 col-sm-offset-3"> 
            <% if current_page?(root_path)%>
              <div> <h1> Post feed </h1> </div>
            <% elsif  current_page?(about_path)%>
              <div class="float-left ml-3"> <h2> My site </h2> </div><br> <br>
              <div class="float-left ml-3"> <%= link_to 'Regresar', root_path%></div>
            <% else %>
              <%= link_to 'Regresar', root_path%>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="container mt-3">
        <div class="row">
          <div class="col-sm-12 col-sm-6 col-sm-4 col-sm-offset-3">  
            <% flash.each do |name, msg| %>
              <%= content_tag(:div, msg, class: 'alert') %>
            <% end %>

            <%= yield %>
          </div>
        </div>
      </div>

  </body>
</html>
